# Ignore the virtual environment
venv/
env/

# Ignore IDE-specific configuration files
.idea/
.vscode/

# Ignore local dependency files that are not needed in Docker
*.pyc
*.pyo
*.pyd
__pycache__

# Ignore cache files
*.log
*.sqlite3

# Ignore the database file if it's local
db.sqlite3

# Ignore local configuration files
*.env

# Ignore test files and other temporary files
tests/
*.bak
